<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net45" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.Expression.Drawing" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="Vlc.DotNet.Core" version="3.0.0" targetFramework="net45" />
  <package id="Vlc.DotNet.Core.Interops" version="3.0.0" targetFramework="net45" />
  <package id="Vlc.DotNet.Forms" version="3.0.0" targetFramework="net45" />
  <package id="Vlc.DotNet.Wpf" version="3.0.0" targetFramework="net45" />
</packages>